.sign-up{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    border-radius: 10px;
    color:white;
    font-size: 1.2em;
    height: 50%;
    padding: 1em 2em 1em 2em;
    width: 25%;
    background: rgb(56, 54, 54);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


input{
    height: 40px;
    border-radius:10px;
    padding: 10px;
    font-size: 1.1em;
    border: none;
}

.sign-up button{
    align-self: center;
    color:rgb(56, 54, 54);
    padding: 0.5rem 1rem 0.5rem 1rem ;
    border-radius: 10px;
    font-size: 1.5rem;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}



.errors,.user-created-success{
    margin-top: .5em;
    border: 2px solid rgb(235, 88, 88) ;
    padding: 0 .5em 0 .5em;
    font-size: 1.5em;
    color:rgb(235, 88, 88);
    font-weight: bold;
}

.user-created-success{
    border: 2px solid rgb(27, 119, 88) ;
    color:rgb(27, 119, 88);

}



@media (max-width:1200px)
{
    form{
        width: 50%;
    }
}


@media (max-width:991px){
    form{
        height: 512px;
        width: 60%;
    }
}

@media (max-width: 750px) { 
    .sign-up{
        display: block;
    }
    form{
        margin: 50px auto;
        font-size: .8em;
        width: 80%;
        height: 400px;
    }
 }