.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;

}


.title{
    font-size: 3rem;
}

.instructions{
    margin-top: 2rem;
    font-size: 1.5rem;
}

.hero-image{
    height: 200px;
}

.start-button{
    background: #8abe5e;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: -2px 2px 5px 1px rgba(144, 138, 138,0.7);
    padding: 1rem 2rem 1rem 2rem;
    color:white

}


@media (max-width: 1119.98px) {
    .container{
        padding: 0 50px 20px 50px;
    }
    
    }