.sidebar{
    width:15%;
    /* min-height: 100vh; */
    height: 100vh;
    max-height: 100vh;
     position: fixed;
    right: 0;
    top:0; 
    background: rgb(56, 54, 54);
    align-items: center;
    color:white;
    display: flex;
    flex-direction: column;
    box-shadow: -2px 0px 7px 2px rgb(146, 142, 142);
}

.menu-button{
    display: none;
    
    
}



.mobile-nav{
    display:none
}


svg{
    margin: 0 auto;
}

.word-race{
    border-top: 2px solid white;
    border-bottom:2px solid white ;
    margin-top: .5em;
    font-size: 3em;
}

.sidebar-list{
    list-style-type: none;
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    width: 100%;
}


.list-wrapper{
    max-height: 1000px;
    transition: max-height .3s ease-in-out;
    width: 100%;

}

.hide-menu{
    max-height: 0px;
}

ul li{
    width: 100%;
    /* padding: .5em; */
    border-bottom: 1px solid white;
}

ul li:first-child{
    border-top: 1px solid white;
}

li a{
    height: 100%;
    width: 100%;
    padding:.5em;
    color:white;
    text-decoration: none;
    display:inline-block
}

li div{
    height: 100%;
    width: 100%;
    padding:.5em;
    color:white;
    text-decoration: none;
    display:inline-block
}

li:hover{
    background: white;
}

li a:hover{
    color:rgb(56, 54, 54);
}

.user{
    width: 100%;
    text-align: center;

    text-transform: capitalize;
    font-weight: bold;
    font-size: 2em;
    margin-top: .5em;

}




@media (max-width: 1119.98px) { 
    .menu-button{
        background: none;
        border: 1px solid white;
        padding: 5px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        height: 40px;
        justify-content: space-around;
        cursor: pointer;
        margin-left: 10px;
    }
    .word-race{
        display: none;
    }

    .sidebar-list{
        margin-top: 10px;
    }

    .sidebar-list li{
        border-bottom: 1px solid rgb(102, 98, 98);
    }

    

    .menu-button.open span:last-child{
            display: none;
    }
    .menu-button.open span:first-child{
        transform:rotateZ(45deg) translateY(-8px);
        transition: transform .5s;
        transform-origin:left;
    }
    .menu-button.open span:nth-child(2){
        transform:rotateZ(-45deg) translateY(8px);
        transition: transform .5s;
        transform-origin: left;
    }

    .menu-button span:first-child{
        transform:rotateZ(0) translateY(0);
        transition: transform .5s;
        transform-origin:left;
    }
    .menu-button span:nth-child(2){
        transform:rotateZ(0) translateY(0);
        transition: transform .5s;
        transform-origin: left;
    }




    .mobile-nav{
        display:flex;
        width: 100%;
        align-items: center;
        background: rgb(56, 54, 54);
        height:60px
    }

    .mobile-nav svg{
        height: 40px;
        margin: 0;
        margin-left: auto;
        /* margin-right: auto; */
    }

    .menu-button span{
        width: 35px;
        background: white;
        display: block;
        height: 3px;
    }
    .sidebar{
        position: relative;
        height: 50%;
        width:100%;
        right:0;
        overflow: hidden;
        top:0;
        background: rgb(56, 54, 54);
        align-items: center;
        color:white;
        box-shadow: none;
        display: flex;
        flex-direction: column;
        box-shadow: none;
    }

    .sidebar > svg{
        display: none;
    }
   

}